@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap");

:root {
    --body-bg:#f9f9f9;
    --border:#ddd;
    --shadow: 0px 4px 14px rgba(0,0,0,0.09);
    --icon-bg:#dedede;
}

body {
    font-family: "jost";
    background: var(--body-bg);
    color: #444;
    display: grid;
    place-items: center;
    margin-top: 50px;
}

.accordion_content{
    width: 300px;
    margin: 0 auto;
    padding: 2rem;
    background: white;
    box-shadow: var(--shadow);
    border-radius: 8px;
}

.accordion_item {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    border-radius: 6px;
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    background: var(--body-bg);
    margin-bottom: 0.5em;
}

.item_header {
    display: flex;
    justify-content: space-between;
    column-gap: 0.2em;

}

.item_icon {
    margin-top: 1em;
    flex: 0 0 25px;
    display: grid;
    place-items: center;
    font-size: 1.25em;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    background: var(--icon-bg);
    box-shadow: var(--shadow);
} 